@import "tailwindcss";


@theme {
  --color-textblack: #000000;
  --color-mywhite: #ffffff;
  --color-myblue: #0000ff;
  --color-myblack: #000000;

  --font-fugazone: 'Fugaz One', cursive;
  --font-poppins: 'Poppins', sans-serif;
  
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-fugazone);
}

p {
  font-family: var(--font-poppins);
}
